@import url("https://kit.fontawesome.com/eccc250cc9.js");
body
{
    font-family:"Raleway", Arial, Helvetica, sans-serif;
    color: black;
    margin: 30px 0px 0px 40px;
}
.header
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
#logo
{
    margin-bottom: 15px;
}
/******************** Navigation ********************/
.navbar
{
    list-style-type: none;
    display: flex;
    margin-bottom: 10px;
}
.navbar ul
{
    list-style-type: none;
    display: flex;
}

.navbar li
{
    margin-right: 50px;
}
.navbar a
{
    font-size: small;
    color: black;
    padding-bottom: 3px;
    text-decoration: none;
}

.navbar a:hover
{
    color: #0065FC;
    border-top: 3px solid #0065FC;
    padding-top: 20px;
}
/********************title********************/
.main_title 
{
    line-height: 50%;
}
.main_title h1
{
    font-size: medium;
}
.main_title p
{
    font-size: small;
}
/********************research box********************/
.research_box
{
    display: flex;
    flex-wrap: nowrap;
    border:#F2F2F2 none 1px ;
    border-left-style: none;
    margin-right: 899px;
    border-radius: 10px;
    margin-top: 20px;

}
.button-research
{
    background-color: #0065FC;
    color: white;
    border-left-style: none;
    border-radius: 0px 10px 10px 0px;
    border: transparent;

}
.icon-location-dot
{
    margin: 0px 0px 0px 0px;
    padding: 8px 8px 8px 8px;
    border: transparent;
    border-radius: 10px 0px 0px 10px;
    background-color: #F2F2F2;

}
input.search
{
    margin-left: 20px;
    border: transparent;
}
button.button-research
{
    margin-right: 100px;
    border: transparent;
}
/*********************filter********************/
.filter-container
{
    display: flex;
    flex-direction: row;
    margin-right: 100px;
    border: none;
    margin-top: 15px;
}
.filter-container h2
{
    font-size: small;
    margin-top: 14px;
    margin-right: 20px; 
}
/*economic filter*/
.filter-item-economic  i:hover
{
    overflow:hidden;
    padding: 5px 5px;
}
.filter-item-economic [type=text]:hover
{
    color: green;
}
.filter-item-economic 
{
    display: flex;
    flex-wrap: nowrap;
    margin: 0px 5px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.filter-item-economic  [type=text]
{
    padding: 0px 0px 0px 20px;
    margin: 6px 0px 7px -10px;
    width: 80px;
    border:#F2F2F2 solid 2px;
    border-left-style: none;
    background-color: transparent;
    border-radius: 0px 25px 25px 0px;
}
.filter-item-economic  i
{
    position: relative;
    margin: 6px 0px 0px 10px;
    padding: 7px 7px 7px 7px;
    border: solid transparent 1px;
    border-radius: 25px ;
    color: #0065FC;
    opacity: 3;
    background-color: #DEEBFF ;
}
/*family filter*/
.filter-item-family i:hover
{
    overflow: hidden;
    padding: 5px 5px;
}
.filter-item-family [type=text]:hover
{
    color: green;
}
.filter-item-family
{
    display: flex;
    flex-wrap: nowrap;
    margin: 0px 5px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.filter-item-family [type=text]
{
    padding: 0px 0px 0px 20px;
    margin: 6px 0px 7px -10px;
    width: 55px;
    border:#F2F2F2 solid 2px;
    border-left-style: none;
    background-color: transparent;
    border-radius: 0px 25px 25px 0px;
}
.filter-item-family i
{
    
    position: relative;
    margin: 6px 0px 0px 0px;
    padding: 7px 8px 7px 8px;
    border: solid transparent 1px;
    border-radius: 25px ;
    color: #0065FC;
    opacity: 3;
    background-color: #DEEBFF ;
}
/*romantic filter*/
.filter-item-romantic i:hover
{
    overflow: hidden;
    padding: 5px 5px;
}
.filter-item-romantic [type=text]:hover
{
    color: green;
}
.filter-item-romantic
{
    display: flex;
    flex-wrap: nowrap;
    margin: 0px 5px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.filter-item-romantic [type=text]
{
    padding: 0px 0px 0px 20px;
    margin: 6px 0px 7px -10px;
    width: 80px;
    border:#F2F2F2 solid 2px;
    border-left-style: none;
    background-color: transparent;
    border-radius: 0px 25px 25px 0px;
}
.filter-item-romantic i
{
    
    position: relative;
    margin: 6px 0px 0px 0px;
    padding: 7px 8px 7px 8px;
    border: solid transparent 1px;
    border-radius: 25px ;
    color: #0065FC;
    opacity: 3;
    background-color: #DEEBFF ;
}
/*animals filter*/
.filter-item-animals i:hover
{
    overflow:hidden;
    padding: 5px 5px;
}
.filter-item-animals [type=text]:hover
{
    color: green;
}
.filter-item-animals
{
    display: flex;
    flex-wrap: nowrap;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    
}
.filter-item-animals [type=text]
{
    padding: 0px 0px 0px 20px;
    margin: 6px 0px 7px -10px;
    width: 120px;
    border:#F2F2F2 solid 2px;
    border-left-style: none;
    background-color: transparent;
    border-radius: 0px 25px 25px 0px;
}
.filter-item-animals i
{
    position: relative;
    margin: 6px 0px 0px 10px;
    padding: 7px 7px 7px 7px;
    border: solid transparent 1px;
    border-radius: 25px ;
    color: #0065FC;
    opacity: 3;
    background-color: #DEEBFF ;
}




/********************information********************/
.info 
{
    font-size: small;
    display: flex;
    flex-direction: row;
}
.icone
{
    margin: 12px 15px 0px 0px;
    border: #DEEBFF;
    color: #0065FC;
}


/********************hosting section********************/
.hosting_marseille
{
    border: 1px black solid; 
    width: 70%;
    height: 50%;
    background-color: #F2F2F2;
}
.title
{
    font-size: medium;
    border: 1px black solid;
}
.hosting
{
    display: flex;
    flex-direction: row;
}
.hosting figcaption
{
    font-size: small;
}
.host_name
{
    font-weight: bold;
}
.hosting a
{
    text-decoration: none;
}
.hebergements
{
    border: 1px black solid;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
 .text_img
 {
     border: black 1px solid;
     display: flex;
     flex-direction: column;

 }
 .text_img ul
 {
     border:1px black solid;
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     list-style-type: none;
     padding: 0;
     margin: 0;

 }
 .container_img
 {
     width: 50px;
     height: auto;
     border:1px black solid;
     display: flex;

     
 }
 .container_img img
 {
     width: 100%;
     object-fit: cover;
    
     
 }



/********************footer********************/
.footer
{
    background-color: #F2F2F2;
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    line-height: 200%;


}
.footer li
{
    margin-right: 120px;
    font-size: small;
}
.footer ul
{
    list-style-type: none;
    
}
.footer a
{
    color: inherit;
    text-decoration: none;
}