body{
    font-family:"Raleway", Arial, Helvetica, sans-serif;
}
body p, h1{
    color: black;
}
/****************header****************/
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
/***************nav-bar****************/

.header-nav{
    width: 95%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: black 1px solid;
}
.header-nav a{
    text-decoration: none;
}
.header-nav-list a:hover{
    border-top: 3px solid #0065FC;
    padding-top: 30px;
}
.header-nav-list{
    margin: 0;
    padding: 0;
    width:40%;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    border: black 1px solid;
}
#header-nav__logo{
    width: 60%;
    display: flex;
    align-items: center;
    border: black 1px solid;
}
.hosting-link
{
    color:#0065FC;
}
.subscrip-link
{
    color:#0065FC;
}
/****************main_title****************/

.main-title{
    border: black 1px solid;
    width: 95%;
    display: flex;
    flex-direction: column;
}
.main-title__h1{
    margin-bottom: 0;
    font-size: large;
}
.main-title__p{
    margin-top: 0;
    font-size: small;
}
/****************main_title****************/

.container-research-box{
    margin-top: 10px;
    width: 95%;
    border: black 1px solid;
}
.research-box
{
    display: flex;
    flex-direction: row;
}
.research-box__icon-location-dot{
    padding: 10px 10px 10px 10px;
    background-color: #F2F2F2;
    border: #F2F2F2 1px solid;
    border-radius: 25px 0px 0px 25px;
}
.research-box__search{
    border: none;
    border: #F2F2F2 1px solid;
}
.research-box__button-research{
    color: white;
    border: none;
    border-radius: 0px 25px 25px 0px;
    background-color: #0065FC;
}
/****************filter****************/

.filter-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 95%;
    border: black 1px solid;
}
.filter-container__filter{
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    
}
.filter-container__title{
    border: none;
}
.filter{
    display: flex;
    justify-content: space-between ;
    align-items: center;
    border: solid #F2F2F2 1px;
    border-radius: 25px;
    background-color: white;
    padding: 0;
    font-weight: bold;
}
.filter :hover{
    color: #0065FC;
}
.filter__icon{
    padding: 9px;
    border-radius: 25px;
    background-color: #DEEBFF;
    color: #0065FC;
}
.filter p{
    margin: 0px 10px 0px 10px;
}
.filter__icon--family{
    padding: 9px 11px 9px 11px;
    border-radius: 25px;
    background-color: #DEEBFF;
    color: #0065FC;
}
.filter__item{
    border-radius: 0px 25px 25px 0px;
    border: none;
    background-color: white;
}
/********************information********************/

.info{
    border:1px solid black;
    display: flex;
    flex-direction: row;
    width: 95%;
    margin-bottom: 20px;
}
.info__p{
    font-size: small;
    display: flex;
    align-items: center;
    margin: 0;
}   
.info__icon{
    border:1px solid #DEEBFF;
    font-size: x-small;
    color: #0065FC;
    border-radius: 25px;
    padding: 1px 7px 1px 7px;
    margin-right: 10px;
}
@media screen and (max-width: 600px)
{

}
/********************hosting section********************/

.main{
    border: black 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hosting{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
}
/*hosting marseille*/

.hosting-marseille-container{
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    background-color: #F2F2F2;
    width: 65%;
}
.hosting-marseille-container__title{
    font-size: large;
    font-weight: bold;
    margin-left: 20px;
}
.hosting-list-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 25px; 
    width: 100%;
}
.hosting-item{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-decoration: none;
    width: 27%;
    background-color: white;
    border-radius: 25px;
    margin-left: 1px;
    margin-top: 20px;
    padding: 3px;
}
.hosting-item__image-container{
   width: 100%;
   height: 100px;
}
.hosting-item__picture{
    border-radius: 25px 25px 0px 0px;
    width: 100%;
    height: 100px;
    object-fit: cover;
}
.hosting-item__name{
    font-size: small;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 10px;
    padding-left: 10px;
}
.hosting-item__price{
    font-size: small;
    font-weight: normal;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
}
.hosting-item__stars{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    font-size: x-small;
    padding-left: 10px;
    margin: 0;
    margin-bottom: 5px;
}
.fa-star.active{
    color: #0065fc;
}
.fa-star{
    color: #999;
}
.p_hosting{
    margin-top: 40px;
    margin-left: 20px;
    font-weight: bold;
}
/*popular_hosting*/
.hosting-container-popular{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 25px;
    background-color: #F2F2F2;
    width: 32%;
}
.hosting-container-popular__title{
    display: flex;
    justify-content: space-around;
}
.hosting-list-popular-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hosting-item--row{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    width: 80%;
    background-color: white;
    border-radius: 25px;
    margin-left: 1px;
    margin-top: 20px;
    margin-bottom: 20PX;
    padding: 3px;
}
.hosting-item__image-container--row{
    width: 33%;
    height: 120px;
}
.hosting-item__picture--row{
    border-radius: 25px 0px 0px 25px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hosting-item__content--row{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    text-decoration: none;
    width: 66%;
    background-color: white;
    border-radius: 25px;
}
.contenair-paragraph{
    margin-top: 10px;
}
.hosting-item__name--row{
    font-size: small;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 0;
    padding-left: 10px;
}
.hosting-item__price--row{
    font-size: small;
    font-weight: normal;
    margin-top: 0;
    padding-left: 10px;
    margin-top: 8px;
}
.hosting-item__stars--row{
    width: 27%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    font-size: x-small;
    margin: 0;
    padding-left: 10px;
    margin-bottom: 10px;
}
@media only screen and (max-width: 992px)
{
 
}
@media only screen and (max-width: 600px) 
{

}
 
/*************activity*************/
.activity_section
{
    padding: 0;
    border:black 1px solid;
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 600px;
}
.activity
{
    border:black 1px solid;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 500px;
}
#activity 
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100px;
}
.container_vieux_port_activity
{
    border:red 1px solid;
    width: 45%;
    height: 450px;
    margin: 0;
    border-radius: 10px 10px 0px 0px;
    box-shadow: grey 5px 5px 5px ;
}
.container_img_vieux_port
{
    border:black 1px solid;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    height: 100%;
    margin: 0;
}
.vieux_port_picture
{
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
}
.text_img
{
    
    display: flex;
   align-items: flex-start;
    width: 100%;
}


/********************footer********************/
.footer
{
    background-color: #F2F2F2;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    width: 100%;
    height: auto;
}
.footer h2
{
    font-size: medium;
    margin: 0;
}

.assistance-list
{
    list-style-type: none; 
    font-size: small;
    padding: 0;
    margin: 0;
}
.about-list
{
    list-style-type: none; 
    font-size: small;
    padding: 0;
    margin: 0;
}
.hosting-list
{
    list-style-type: none; 
    font-size: small;
    padding: 0;
    margin: 0;
}
.about-list-element
{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-right:120px;
}
.hosting-list-element
{
    display: flex;
    flex-direction: column;
    padding:  0;
    margin: 0;
}
.assistance-list-element
{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}
.list
{
    margin: 0;
}
.footer a:hover
{
    color: #0065FC;
}
@media screen and (max-width: 600px) 
{
    
}
